<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD - <%= tableName %></title>
    <link href="/css/styles.css" rel="stylesheet"> 
</head>
<body class="bg-gray-100 flex">
   
    <%- include('partials/aside') %> 

    <main class="flex-grow px-20 py-10">

        <div class="flex">
            <div class="relative w-full max-w-lg mb-10 flex-item">
                <input id="busqueda" type="text" placeholder="Buscar" class="w-full bg-black text-white rounded-full pl-10 py-2">
                <div class="absolute inset-y-0 left-0 flex items-center pl-3">
                    <svg class="text-white h-5 w-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 18l6-6m0 0l-6-6m6 6H3"></path>
                    </svg>
                </div>
            </div>
            <div class="flex-item ml-auto">
                <a href="/dashboard">
                    <svg width="30px" height="30px" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path fill="#000000" d="M224 480h640a32 32 0 1 1 0 64H224a32 32 0 0 1 0-64z"></path><path fill="#000000" d="m237.248 512 265.408 265.344a32 32 0 0 1-45.312 45.312l-288-288a32 32 0 0 1 0-45.312l288-288a32 32 0 1 1 45.312 45.312L237.248 512z"></path></g></svg>
                </a>
            </div>
        </div>

        <h1 class="text-2xl font-bold mb-4">Tabla: <%= tableName %></h1>
        <div class="mt-10">
            <form action="/dashboard/<%= tableName %>/add" method="POST" class="mb-4">
                <% const fieldConfigs = {
                    users: [
                        { type: "text", name: "username", placeholder: "Nombre de usuario" },
                        { type: "email", name: "email", placeholder: "Correo electrónico" },
                        { type: "password", name: "password", placeholder: "Contraseña" },
                        { type: "number", name: "role_id", placeholder: "Rol (ej. 2 para usuario)" }
                    ],
                    professors: [
                        { type: "text", name: "first_name", placeholder: "Nombre" },
                        { type: "text", name: "last_name", placeholder: "Apellido" }
                    ],
                    subjects: [
                        { type: "text", name: "name", placeholder: "Nombre de la materia" }
                    ],
                    professor_subjects: [
                        { type: "number", name: "professor_id", placeholder: "ID del Profesor" },
                        { type: "number", name: "subject_id", placeholder: "ID de la Materia" }
                    ],
                    report_reasons: [
                        { type: "text", name: "reason_name", placeholder: "Descripción del motivo" }
                    ]
                }[tableName]; %>
            
                <% if (fieldConfigs) { %>
                    <% fieldConfigs.forEach(field => { %>
                        <input class="p-4" type="<%= field.type %>" name="<%= field.name %>" placeholder="<%= field.placeholder %>" required>
                    <% }) %>
                <% } %>

                <% if (["users", "professors", "subjects", "professor_subjects", "report_reasons"].includes(tableName)) { %>
                <button type="submit" class="bg-green-500 text-white p-4 rounded">Agregar</button>
                <% } %>
            </form>
        </div>
        <table class="min-w-full bg-gray-100 border border-gray-300">
            <thead>
                <tr>
                    <% if (data.length > 0) { %>
                        <% Object.keys(data[0]).forEach(key => { %>
                            <th class="py-2 px-4 border-b"><%= key %></th>
                        <% }) %>
                        <th class="py-2 px-4 border-b">Acciones</th>
                    <% } else { %>
                        <th class="py-2 px-4 border-b">No hay datos disponibles</th>
                    <% } %>
                </tr>
            </thead>
            <tbody>
                <% data.forEach((row, index) => { %>
                    <tr class="<%= index % 2 === 0 ? 'bg-white' : 'bg-gray-100' %>">
                        <% Object.entries(row).forEach(([key, value]) => { %>
                            <% if (key === 'content_full') return; %> <!-- No mostrar el comentario completo -->
                            <td class="py-2 text-center px-4 border-b" data-key="<%= key %>">
                              <% if (key === 'created_at') { %>
                                <span><%= new Date(value).toLocaleString('es-MX', {
                                  day: '2-digit',
                                  month: '2-digit',
                                  year: 'numeric',
                                  hour: '2-digit',
                                  minute: '2-digit'
                                }) %></span>
                              <% } else { %>
                                <span><%= value %></span>
                                <input type="text" value="<%= value %>" placeholder="<%= value %>" class="hidden border px-2 py-1 rounded w-full">
                              <% } %>
                            </td>
                          <% }) %>
                        <td class="py-2 px-4 border-b text-center">
                            <% if (["users", "professor_subjects", "professors", "report_reasons", "subjects"].includes(tableName)) { %>
                                <button class="edit-btn bg-blue-500 hover:bg-blue-600 text-white px-3 py-1 rounded mr-1">Editar</button>
                                <button class="save-btn hidden bg-green-500 hover:bg-green-600 text-white px-3 py-1 rounded mr-1" data-id="<%= row.id %>" data-table="<%= tableName %>">Guardar</button>
                            <% } %>

                            <% if (tableName === 'comments') { %>
                                <button class="bg-indigo-500 hover:bg-indigo-600 text-white px-3 py-1 rounded mr-1" onclick="showCommentDetails('<%= row.id %>')">Detalles</button>

                            <% } %>
                        
                            <% if (tableName === 'reports') { %>
                                <% if (Number(row.status_id) === 3) { %>
                                  <button class="bg-yellow-500 hover:bg-yellow-600 text-white px-3 py-1 rounded mr-1"
                                  onclick="resolverReporte('<%= row.id %>', '<%= row.comment_id %>')">Resolver</button>
                                <% } %>
                                <button class="bg-indigo-500 hover:bg-indigo-600 text-white px-3 py-1 rounded mr-1" onclick="showCommentDetails('<%= row.id %>')">Detalles</button>
                            <% } %>
                        
                            <% if (["users", "professor_subjects", "comments", "professors", "reports", "report_reasons", "subjects"].includes(tableName)) { %>
                                <button class="delete-btn bg-red-500 hover:bg-red-600 text-white px-3 py-1 rounded mr-1" onclick="deleteCrud('<%= row.id %>', '<%= tableName %>')">Eliminar</button>
                                <button class="cancel-btn hidden bg-gray-400 hover:bg-gray-500 text-white px-3 py-1 rounded mr-1">Cancelar</button>
                            <% } %>
                        
                            <% if (tableName === "professors_requests" && row.status_id == 1) { %>
                                <button class="bg-green-600 hover:bg-green-700 text-white px-3 py-1 rounded mr-1" onclick="processRequestAndRemoveRow(this, '<%= row.id %>', 'approve')">Aprobar</button>
                                <button class="bg-red-600 hover:bg-red-700 text-white px-3 py-1 rounded mr-1" onclick="processRequestAndRemoveRow(this, '<%= row.id %>', 'reject')">Rechazar</button>
                            <% } %>
                        </td>                   
                    </tr>
                <% }) %>
            </tbody>
            
            
        </table>
        
    </main>

    
   <!-- Main modal -->
<div id="comment-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative p-4 w-full max-w-2xl max-h-full">
      <!-- Modal content -->
      <div class="relative bg-white rounded-lg shadow-sm dark:bg-gray-700">
        <!-- Modal header -->
        <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600 border-gray-200">
          <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
            Comentario completo
          </h3>
          <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="comment-modal">
            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
            </svg>
            <span class="sr-only">Cerrar</span>
          </button>
        </div>
        <!-- Modal body -->
        <div class="p-4 md:p-5 space-y-4">
          <p id="comment-modal-content" class="text-base leading-relaxed text-gray-700 dark:text-gray-300 whitespace-pre-wrap break-words">
            <!-- contenido dinámico aquí -->
          </p>
        </div>
        <!-- Modal footer -->
        <div class="flex items-center p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600">
          <button data-modal-hide="comment-modal" type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
  

  <% if (comentariosMap) { %>
    <script id="comentarios-json" type="application/json">
      <%- JSON.stringify(comentariosMap) %>
    </script>
    <script>
      const comentariosCompletos = JSON.parse(document.getElementById('comentarios-json').textContent);
    
      function showCommentDetails(id) {
        const comentario = comentariosCompletos[id];
        const contentElement = document.getElementById('comment-modal-content');
        contentElement.textContent = comentario || 'Comentario no encontrado';
    
        const modal = document.getElementById('comment-modal');
        modal.classList.remove('hidden');
        modal.classList.add('flex');
      }
    
      function closeCommentModal() {
        const modal = document.getElementById('comment-modal');
        modal.classList.remove('flex');
        modal.classList.add('hidden');
      }
    
      document.querySelectorAll('[data-modal-hide="comment-modal"]').forEach(btn => {
        btn.addEventListener('click', closeCommentModal);
      });
    </script>
    <% } %>
    

        
        

    <script src='/js/cruds.js' ></script>
    <script src='/js/agregar_maestro.js' ></script>
</body>
</html>
