<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de Usuario</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    
    <%- include('partials/header') %>
    
    <main class="px-16 pt-16">
        <div class="flex justify-between items-center px-64">
            <h1 class="text-2xl font-bold">Usuario <%= usuario.nombre %></h1>
            <div>
                <button class="bg-black text-white px-6 py-4 text-sm rounded-md shadow-sm hover:bg-gray-800 focus:outline-none">
                    Editar perfil
                </button>
                <!-- Botón para cerrar sesión -->
                <a href="/logout" class="ml-4 bg-red-500 text-white px-6 py-4 text-sm rounded-md shadow-sm hover:bg-red-600 focus:outline-none">
                    Cerrar sesión
                </a>
            </div>
        </div>

        <!-- Aquí puedes agregar la lógica para mostrar los comentarios del usuario -->
        <div class="pt-10">
            <% if (comentarios && comentarios.length > 0) { %>
                <% comentarios.forEach(comentario => { %>
                  <div class="p-6 mb-12 text-white bg-black border border-gray-300 rounded-lg shadow-md">
                    <p><strong>Profesor:</strong> <%= comentario.profesor %></p>
                    <p><strong>Materia:</strong> <%= comentario.materia %></p>
                    <p><strong>Contenido:</strong> <%= comentario.contenido %></p>
                    <p><strong>Likes:</strong> <%= comentario.likes %></p>
                    <p><strong>Dislikes:</strong> <%= comentario.dislikes %></p>
                  </div>
                <% }) %>
              <% } else { %>
                <p>No hay comentarios para mostrar.</p>
              <% } %>
        </div>
    </main>

    
    
    <script src='/js/scripts.js'></script>


</body>
</html>